// Example Colors - please define your own color variables here
$white:             #FFFFFF;
$black:             #000000;

// Fonts
$font-family-light:    'Oswald-Light';
$font-weight-light:   300;

$font-family-regular:    'Oswald-Regular';
$font-weight-regular:   400;

$font-family-medium:    'Oswald-Medium';
$font-weight-medium:   500;

$font-family-bold:    'Oswald-Bold';
$font-weight-bold:   700;
